/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --decorated-zone-color: rgb(53, 52, 48);
  --rec-icon-color: transparent;
  --header-menu-color: rgb(53, 52, 48);
  --header-heading: rgb(255, 194, 230);
  --header-heading-shadow: rgb(255, 141, 203);
  --accent-background-color: rgb(255, 141, 203);
  --main-heading-section-color: rgb(53, 52, 48);
  --main-title-section-color: rgb(53, 52, 48);
  --accent-color-text: rgb(53, 52, 48);
  --footer-heading: rgb(255, 194, 230);
  --footer-heading-shadow: rgb(255, 141, 203);
  --header-menu-button-color: rgba(50, 49, 45, 0.4);
  --cover-image: url(../images/cover-image-light.png);
  --links-color-shadow: rgb(255, 141, 203);
  --links-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --decorated-zone-color: rgb(53, 52, 48);
    --rec-icon-color: transparent;
    --header-menu-color: rgb(53, 52, 48);
    --header-heading: rgb(255, 194, 230);
    --header-heading-shadow: rgb(255, 141, 203);
    --accent-background-color: rgb(255, 141, 203);
    --main-heading-section-color: rgb(53, 52, 48);
    --main-title-section-color: rgb(53, 52, 48);
    --accent-color-text: rgb(53, 52, 48);
    --footer-heading: rgb(255, 194, 230);
    --footer-heading-shadow: rgb(255, 141, 203);
    --header-menu-button-color: rgba(50, 49, 45, 0.4);
    --cover-image: url(../images/cover-image-light.png);
    --links-color-shadow: rgb(255, 141, 203);
    --links-color: rgba(53, 52, 48, 1);
  }
}
